#label {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3em;
    color: white;
    cursor: pointer;
  }
  #toggle {
    display: none;
  }
  .oscuro {
    background-color: rgb(17, 18, 65);
    color: white;
    transition: all 1.5s ease;
  }
  .responsive {
	font-family:"Gothic A1", sans-serif !important;
	display:flex;
    justify-content:center;
}

.container-fluid {
	text-align:center;
	font-family:"Gothic A1";
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	text-align:center;
	color: rgb(34, 125, 199);
	background-color: rgb(17, 18, 65);
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	display:block;
	width: 100%;
}

.footer {
	text-align: center; 
	font-family:"Gothic A1";
	color:rgb(34, 125, 199);
	background-color: rgb(17, 18, 65);
	display: flex;
    justify-content: center;
}

.botónoculto {
	display: flex;
}